In [2]:
import mysql.connector
import pandas as pd

In [3]:
db_config = {
    'host': 'onlineorder-mysqldb-test.cidxoi55oorv.ap-south-1.rds.amazonaws.com',
    'user': 'pythonuser',
    'password': 'Dev!12345',
    'port': 3306,
    'database': 'pythontest'
}

In [4]:
connection = mysql.connector.connect(**db_config)
cursor = connection.cursor()

In [5]:
# Query to retrieve table names
table_query = "SHOW TABLES"

In [6]:
df=pd.read_sql(table_query,connection)

C:\Users\rachi\AppData\Local\Temp\ipykernel_12096\2390228106.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql(table_query,connection)

In [7]:
df

  Tables_in_pythontest
0            assesment
1            demo_mmse
2    final_test_result
3  organization_master
4               output
5            questions
6            test_main
7          test_master
8                 user
9           user_roles

In [9]:
query = "SELECT COUNT(*) FROM demo_mmse WHERE pin = %s"
cursor.execute(query, (9189,))
result = cursor.fetchone()

In [10]:
result

(1,)

In [21]:
df_col=pd.read_sql(query,connection)

C:\Users\rachi\AppData\Local\Temp\ipykernel_17816\754877718.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_col=pd.read_sql(query,connection)

In [23]:
df_col.tail(20)

,pin,org_id,user_id,test_id,orientation_test,registration_test,calculation_test,recall_test,language_test,total_score,severity
71,8042,1,1,1,"{""day"": ""22"", ""year"": ""2022"", ""month"": ""august...",None,None,None,None,NaN,None
72,8146,1,1,1,None,None,None,None,None,NaN,None
73,8158,1,1,1,None,None,None,None,"{""score"": 0, ""phrase"": ""no i have send all bir...",NaN,None
74,8318,1,1,1,None,None,None,None,None,NaN,None
75,8369,1,1,1,None,None,None,None,None,NaN,None
76,8686,1,1,1,"{""day"": ""22"", ""year"": ""2020"", ""month"": ""august...","{""score"": 3, ""user_words"": [""JUNGLE"", ""BANANA""...",None,None,None,NaN,None
77,8751,1,1,1,"{""day"": ""23"", ""year"": ""2021"", ""month"": ""august...","{""score"": 1, ""user_words"": [""JUNGLE"", """", """"],...",None,None,None,NaN,None
78,8978,1,1,1,None,None,None,None,None,NaN,None
79,9139,1,1,1,None,None,None,None,None,NaN,None
80,9189,1,1,1,"{""day"": ""23"", ""year"": ""2023"", ""month"": ""august...","{""score"": 2, ""user_words"": [""banana"", ""orange""...","{""score"": 4, ""difference"": 7, ""user_answers"": ...","{""score"": 3, ""user_words"": [""banana"", ""apple"",...","{""score"": 1, ""phrase"": ""No ifs ands or buts""}",NaN,None
81,9296,1,1,1,None,None,None,None,None,NaN,None
82,9363,1,1,1,"{""day"": ""22"", ""year"": ""2026"", ""month"": ""august...",None,None,None,None,NaN,None
83,9420,1,1,1,None,None,None,None,None,NaN,None
84,9583,1,1,1,"{""day"": ""23"", ""year"": ""2023"", ""month"": ""august...","{""score"": 3, ""user_words"": [""FLOWER"", ""APPLE"",...","{""score"": 0, ""difference"": 7, ""user_answers"": ...",None,None,NaN,None
85,9671,1,1,1,None,None,None,None,"{""score"": 0, ""phrase"": ""ants""}",NaN,None
86,9720,1,1,1,None,None,None,None,None,NaN,None
87,9725,1,1,1,None,None,None,None,None,NaN,None
88,9734,1,1,1,"{""day"": ""22"", ""year"": ""2024"", ""month"": ""august...",None,None,None,None,NaN,None
89,9755,1,1,1,"{""day"": ""9"", ""year"": ""2018"", ""month"": ""july"", ...","{""score"": 0, ""user_words"": ["""", """", """"], ""actu...","{""score"": 0, ""difference"": 7, ""user_answers"": ...",None,"{""score"": 0, ""phrase"": ""hello""}",NaN,None
90,9806,1,1,1,None,None,None,None,None,NaN,None

# no ifs and buts checkpoint

In [ ]:
@app.route('/no-ifs-ands-buts', methods=['POST'])
@cross_origin(supports_credentials=True)
def no_ifs_ands_buts():
    data = request.form
    user_id = data.get('user_id')
    test_id = data.get('test_id')
    audio_file = request.files['audio']
    print(audio_file)
    
    wav_audio = io.BytesIO()
    audio_clip = AudioFileClip(audio_file)
    audio_clip.write_audiofile(wav_audio, codec='pcm_s16le')
    
    recognizer = sr.Recognizer()
    with sr.AudioFile(wav_audio) as source:
        audio_data = recognizer.record(source)
    try:
        phrase = recognizer.recognize_google(audio_data)
    except sr.UnknownValueError:
        phrase='-1'
    except sr.RequestError as e:
        phrase='-2'
    pin = data['pin'] 

    score = 0

    if phrase.lower() == "no ifs ands or buts":
        score += 1
    if phrase=='-1':
        return jsonify({'score': -1})
    if phrase=='-2':
        return jsonify({'score': -2})

    demo_mmse_data = {
            'phrase': phrase,
            'score' : score ,
        }
    demo_mmse_json = json.dumps(demo_mmse_data)

    return updateTable('language_test',pin,user_id,test_id,demo_mmse_json,score)